/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #1b2838;
  color: #c7d5e0;
}

header {
  background-color: #171a21;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

.logo {
  color: #66c0f4;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: #c7d5e0;
  font-size: 14px;
}

.nav-link:hover {
  color: #66c0f4;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  background-color: #66c0f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 10px;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.carousel-item {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carousel-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

.sidebar {
  background-color: #2a475e;
  padding: 20px;
  color: #fff;
  display: block;
}

footer {
  background-color: #171a21;
  text-align: center;
  color: #c7d5e0;
  padding: 10px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .user-info {
    margin-top: 10px;
    justify-content: flex-start;
  }

  .carousel {
    flex-direction: column;
    padding: 10px;
  }

  .carousel-item {
    max-width: 100%;
  }

  .sidebar {
    display: none; /* Esconde a sidebar em telas menores */
  }

  footer {
    padding: 20px 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }

  .nav-link {
    font-size: 12px;
  }

  .avatar {
    width: 35px;
    height: 35px;
  }

  .carousel-info h2 {
    font-size: 18px;
  }

  .carousel-info p {
    font-size: 14px;
  }
}
